ingress:
  path: /grafana(/|$)(.*)
  hosts:
    - {{ fqdn }}

  tls:
  - hosts:
    - {{ fqdn }}
    secretName: grafana-tls

grafana.ini:
  server:
    root_url: https://{{ fqdn }}/grafana
  auth.azuread:
    name: Azure AD
    enabled: true
    allow_sign_up: true
    client_id: <client-id>
    client_secret: <client-secret>
    scopes: openid email profile
    auth_url: https://login.microsoftonline.com/{{ tenantid }}/oauth2/v2.0/authorize
    token_url: https://login.microsoftonline.com/{{ tenantid }}/oauth2/v2.0/token
    allowed_domains:
    allowed_groups:
