ingress:
  path: /grafana
  hosts:
    - {{ fqdn }}

  extraPaths:
  - path: /grafana/(.*)
    backend:
      serviceName: grafana
      servicePort: 80

  tls:
  - hosts:
    - {{ fqdn }}
    secretName: grafana-tls

grafana.ini:
  server:
    root_url: https://{{ fqdn }}/grafana
